
/* style pour l'entete */
header {
    left: 0;
    top: 0;
    width: 100%;
    max-width: 1200px;
    background: #14597f;
    color: white;
    height: 60px;
    border-bottom: 1px solid #0b2d3d;
}

/* style pour le logo dans l'entete */
header img {
    float: left;
    height: 20pt;
    vertical-align: middle;
    padding-left: 20px;
}

/* style pour le menu dans l'entete */
header nav {
    float: right;
    padding-right: 20px;
}

/* style pour les liens dans le menu de l'entete */
header nav a {
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

/* assigner manuellement le style active sur l'element du menu concerne a la page affichee*/
header nav a.active {
    background: #1fb5e9;
    border-radius: 4px;
}

/* style pour le logo du panier d'achat dans le menu de l'entete */
.shopping-cart {
    color: #14597f;
}

/* style specifiant le nombre d'elements dans le panier d'achat de l'entete */
.count {
    border-radius: 4px;
    background-color: #d9534f;
    color: white;

    position: relative;
    right: 10px;
    top: 10px;
}

/* necessaire pour le bon fonctionnement du footer */
body {
    margin: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* applique les padding pour le contenu principal comme demande dans les instructions*/
main {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
}

/* style pour le pied de page */
footer {
    background-color: #eeeeee;
    text-align: center;
    width:100%;
    max-width: 1200px;
    border-top: 1px solid #cccccc;
}

/*style pour l'image home.png dans index.html*/
.home-img {
    float: right;
    height: 300px;
}

/*style pour les boutons utilises dans ce tp*/
button.btn {
    background-color: #14597f;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #0b2d3d;
}

/* Style pour les hyperliens dans les buttons utilisants la classe btn*/
button.btn a {
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

/*style pour le bouton "En savoir plus" lorsque la souris flotte au dessus*/
.btn:hover {
    background-color: #1fb5e9;
    transition-timing-function: ease-out;
    transition: 0.2s;
}

/* Style pour le div parent contenant les 3 divs enfants horizontaux dans contact.html */
.contact-parent-block {
    border: 1px solid #999999;
    border-radius: 4px;
    padding-bottom: 120pt;
}

/* Style pour les divs enfants horizontaux dans contact.html */
.contact-child-block {
    padding-top: 20pt;
    width: 33%;
    float: left;
    text-align: center;
}

/* Style pour les icones contenues dans les divs enfants dans contact.html */
.contact-child-block i {
    font-size: 400%;
}

/* style pour une colonne dans order.html */
.order-child-block {
    width: 48%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
}

/* style pour les input dans order.html */
.order-input {
    width:100%;
    height:20px;
    border:1px solid #999999;
	border-radius: 4px;
}

/* style pour le tableau dans shopping-cart.html */
table#shopping-cart-table {
	border:none;
}

/* style pour ajuster la taille des textes dans le tableau dans shopping-cart.html */
table#shopping-cart-table tr th {
    font-size: 20px;
}
table#shopping-cart-table tr td {
    font-size: 15px;
}

/* style pour reduire la largeur des input de quantite dans
le tableau afin que les boutons - et + puissent rentrer */
.input-group-button input {
    width: 50%;
}

/* style pour les première et dernière lignes du tableau dans shopping-cart.html */
th, .last {
	border-bottom: 1px solid;
}


/* padding pour aérer */
th, td {
	padding: 15px;
	font-size: 30px;
}

/* limite de la largeur de la première colonne à 30px */
th:first-child, td:first-child {
	width:30px;
}

/* aligner élément dernière colonne à droite */
th:last-child, td:last-child {
	text-align: right;
	padding : 0px 100px;
}

/* style des boutons dans le tableau du shopping-cart */
.shop-cart-button {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color:#dddddd;
}

/* style des boutons survolés par la sourir dans le tableau du shopping-cart */
.shop-cart-button:hover {
	background-color:#bbbbbb;
}


/* alignement du prix total et du lien pour commander */
#div-prix-commander {
	position:relative;
	float:right;
}

/* alignement du bouton pour vider le panier */
#btn-vider-panier {
	position:relative;
	float:left;
}

/* div parent pour organiser les colonnes */
#div-parent-produit {
	padding-bottom: 120pt;
}

/* divs enfants de largeur 50% */
#div-child-produit {
	padding-top: 20pt;
    width: 50%;
    float: left;
    text-align: left;
}


#div-prix-formulaire {
	border-top: 1px dashed gray;
}

/* on aligne le prix du produit à gauche, on ajoute la bordure en pointillé */
#prix-produit {
	position:relative;
	float:left;
}

/* on aligne le formulaire à gauche */
#div-formulaire {
	position:relative;
	float:right;
}

/* style du formulaire dans product.html */
.form-control {
	border:1px solid #999999;
    border-radius: 4px;
    height:20px;
}



/******PRODUCTS******/

/* on met les boutons à gauche */
#aside-produits {
	padding-top: 20pt;
    width: 25%;
    float: left;
    text-align: left;
}
/* div contenant les produits */
#div-child-produits {
	padding-top: 20pt;
    width: 75%;
    float: right;
    text-align: left;
}

/* style pour boutons avec effet ease out */
.btn-products {
  border: 1px solid #999999;
  padding: 10px 20px;
  width: 60%;
  display: block;
  transition: 0.2s;
  border-radius: 4px;
}

.btn-group-produits button:not(:last-child) {
  border-bottom: none;
}

.btn-products:hover {
    background-color: #f3f3f3;
}

.btn-products.selected {
    background-color: #ddf2fb;
}

#products-count {
    text-align: right;
}

#products-list{
	padding-bottom: 120pt;
}

#products-list a {
	display:inline-block;
	width:32%;
	border:1px solid #999999;
	transition: 0.2s;
	border-radius: 4px;
}

#products-list a:hover {
	background-color: #f3f3f3;
}

.prix-produits{
	position:relative;
	float:right;
}

.img-list-produits {
	height:180px;
	width:180px;
}

.invisible {
    display: none;
    visibility: hidden;
}

.toast {
    visibility: visible;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    animation: fadein 0.5s, fadeout 0.5s 5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}