/* style pour l'entete */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #334185;
    color: white;
    padding-bottom: 60px;
}

/* style pour le logo dans l'entete */
header img {
    float: left;
    height: 20pt;
    vertical-align: middle;
    padding-left: 20px;
}

/* style pour le menu dans l'entete */
header nav {
    float: right;
    padding-right: 20px;
}

/* style pour les liens dans le menu de l'entete */
header nav a {
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

/* style pour le logo du panier d'achat dans le menu de l'entete */
.shopping-cart {
    color: #334185;
}

/* style specifiant le nombre d'elements dans le panier d'achat de l'entete */
.count {
    background-color: red;
    color: white;
}

/* applique les padding pour le contenu principal comme demande dans les instructions*/
main {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

/* style pour le pied de page */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    text-align: center;
}

/*style pour l'image home.png dans index.html*/
.home-img {
    float: right;
    height: 300px;
}

/*style pour le bouton "En savoir plus" dans index.html*/
.btn-find-out {
    background-color: #334185;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*style pour le bouton "En savoir plus" lorsque la souris flotte au dessus*/
.btn-find-out:hover {
    background-color: #4f65d1;
}

/* Style pour le div parent contenant les 3 divs enfants horizontaux dans contact.html */
.contact-parent-block {
    border: 3px solid gray;
    padding-bottom: 120pt;
}

/* Style pour les divs enfants horizontaux dans contact.html */
.contact-child-block {
    padding-top: 20pt;
    width: 33%;
    float: left;
    text-align: center;
}

/* Style pour les icones contenues dans les divs enfants dans contact.html */
.contact-child-block i {
    font-size: 400%;
}

/* style pour une colonne dans order.html */
.order-child-block {
    width: 48%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
}

/* style pour le bouton "Payer" dans order.html */
.btn-pay {
    background-color: #334185;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    float: right;
    font-size: 16px;
}

/* style pour le bouton "Payer" dans order.html lorsque la souris est au dessus */
.btn-pay:hover {
    background-color: #4f65d1;
}

/* style pour les input dans order.html */
.order-input {
    width:100%;
    height:20px;
}


/* antoine */

/******SHOPPING-CART******/

/* style pour le tableau dans shopping-cart.html */
table {
	border:none;
}

/* style pour les première et dernière lignes du tableau dans shopping-cart.html */
th, .last {
	border-bottom: 1px solid;
}


/* padding pour aérer */
th, td {
	padding: 15px;
	font-size: 30px;
}

/* limite de la largeur de la première colonne à 30px */
th:first-child, td:first-child {
	width:30px;
}

/* aligner élément dernière colonne à droite */
th:last-child, td:last-child {
	text-align: right;
	padding : 0px 100px;
}

/* style des boutons dans le tableau du shopping-cart */
.shop-cart-button {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color:#dddddd;
}

/* style des boutons survolés par la sourir dans le tableau du shopping-cart */
.shop-cart-button:hover {
	background-color:#bbbbbb;
}


/* alignement du prix total et du lien pour commander */
#div-prix-commander {
	position:relative;
	float:right;
}

/* alignement du bouton pour vider le panier */
#div-vider-panier {
	position:relative;
	float:left;
}



/******PRODUCT******/

/* div parent pour organiser les colonnes */
#div-parent-produit {
	padding-bottom: 120pt;
}

/* divs enfants de largeur 50% */
#div-child-produit {
	padding-top: 20pt;
    width: 50%;
    float: left;
    text-align: left;
}


#div-prix-formulaire {
	border-top: 1px dashed gray;
}

/* on aligne le prix du produit à gauche, on ajoute la bordure en pointillé */
#prix-produit {
	position:relative;
	float:left;
}

/* on aligne le formulaire à gauche */
#div-formulaire {
	position:relative;
	float:right;
}

/* style du formulaire dans product.html */
.form-control {
	border:1px solid #999999;
	border-radius: 4px;
}



/******PRODUCTS******/

/* on met les boutons à gauche */
#aside-produits {
	padding-top: 20pt;
    width: 25%;
    float: left;
    text-align: left;
}
/* div contenant les produits */
#div-child-produits {
	padding-top: 20pt;
    width: 75%;
    float: right;
    text-align: left;
}

/* style pour boutons avec effet ease out */
.btn-group-produits button {
  border: 1px solid #999999;
  padding: 10px 20px;
  width: 60%;
  display: block;
  transition: 0.2s;
  border-radius: 4px;
}

.btn-group-produits button:not(:last-child) {
  border-bottom: none;
}

.selected:hover {
    background-color: #f3f3f3;
}

.selected:focus {
    background-color: #ddf2fb;
}

#div-produits{
	padding-bottom: 120pt;
}

#div-produits a {
	display:inline-block;
	width:32%;
	border:1px solid #999999;
	transition: 0.2s;
	border-radius: 4px;
}

#div-produits a:hover {
	background-color: #f3f3f3;
}

.prix-produits{
	position:relative;
	float:right;
}

.img-list-produits {
	height:180px;
	width:180px;
}

