/* style pour l'entete */
header {
    left: 0;
    top: 0;
    width: 100%;
    max-width: 1200px;
    background: #14597f;
    color: white;
    height: 60px;
    border-bottom: 1px solid #0b2d3d;
}

/* style pour le logo dans l'entete */
header img {
    float: left;
    height: 20pt;
    vertical-align: middle;
    padding-left: 20px;
}

/* style pour le menu dans l'entete */
header nav {
    float: right;
    padding-right: 20px;
}

/* style pour les liens dans le menu de l'entete */
header nav a {
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

/* assigner manuellement le style active sur l'element du menu concerne a la page affichee*/
header nav a.active {
    background: #1fb5e9;
    border-radius: 4px;
}

/* style pour le logo du panier d'achat dans le menu de l'entete */
.shopping-cart {
    color: #14597f;
}

/* style specifiant le nombre d'elements dans le panier d'achat de l'entete */
.count {
    border-radius: 4px;
    background-color: #d9534f;
    color: white;

    position: relative;
    right: 10px;
    top: 10px;
}

/* necessaire pour le bon fonctionnement du footer */
html, body {
    height: 100%;
    margin: 0;
}

/* applique les padding pour le contenu principal comme demande dans les instructions*/
main {
    padding-left: 20px;
    padding-right: 20px;
    min-height: calc(100vh - 60px - 70px);
}

/* style pour le pied de page */
footer {
    left: 0;
    width: 100%;
    background-color: #eeeeee;
    text-align: center;
    max-width: 1200px;
    height: 70px;
    border-top: 1px solid #cccccc;
}

/*style pour l'image home.png dans index.html*/
.home-img {
    float: right;
    height: 300px;
}

/*style pour les boutons utilises dans ce tp*/
.btn {
    background-color: #14597f;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #0b2d3d;
}

/*style pour le bouton "En savoir plus" lorsque la souris flotte au dessus*/
.btn:hover {
    background-color: #1fb5e9;
    transition-timing-function: ease-out;
    transition: 0.2s;
}

/* Style pour le div parent contenant les 3 divs enfants horizontaux dans contact.html */
.contact-parent-block {
    border: 1px solid #999999;
    border-radius: 4px;
    padding-bottom: 120pt;
}

/* Style pour les divs enfants horizontaux dans contact.html */
.contact-child-block {
    padding-top: 20pt;
    width: 33%;
    float: left;
    text-align: center;
}

/* Style pour les icones contenues dans les divs enfants dans contact.html */
.contact-child-block i {
    font-size: 400%;
}

/* style pour une colonne dans order.html */
.order-child-block {
    width: 48%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
}

/* style pour les input dans order.html */
.order-input {
    width:100%;
    height:20px;
}