<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <main>
    <h1>Le produit spécifié n'existe pas</h1>
  </main>
  <%- include('../partials/footer') %>
  <script type="module">
    import { initShoppingCartController } from "/assets/scripts/shopping-cart.controller.js";
    import { initProductController } from "/assets/scripts/products.controller.js"
    initShoppingCartController();
    initProductController();
  </script>
</body>
</html>
